h1,p,div {
    font-weight: normal;
}
body {
    text-align: center;
    font-family: 'Press Start 2P', cursive;
    background-color: #04364A;
    color: #FFFFFF;
}

h1 {
    font-size: 24px;
    margin-top: 40px;
}

p {
    font-size: 10px;
}
.subtitle {
    opacity: 0.8;
}

table {
    margin: 0 auto;
}

table, .tableHeader, .tableFooter {
    background-color: #29ADB2;
    color: #04364A;
}

td {
    width: 48px;
    height: 48px;
    padding: 0px;
    border-radius: 2px;
    background-color: rgba(255,255,255,0.2);
    box-sizing: border-box;
    text-align: center;
    vertical-align: middle;
    background-size: contain;
    background-repeat: no-repeat;
}

.tableHeader {
    box-sizing: border-box;
    width: 302px;
    margin: 0 auto;
    text-align: center;
    line-height: 60px;
    height: 56px;
    font-size: 16px;
    border-radius: 4px 4px 0 0;
}

.tableFooter {
    box-sizing: border-box;
    width: 302px;
    margin: 0 auto 5px auto;
    text-align: center;
    line-height: 40px;
    height: 40px;
    font-size: 10px;
    border-radius: 0 0 4px 4px;
}

#rowResult, #colResult {
    display: inline-block;
    margin: 0 6px;
    opacity: 0.8;
}

.autosuggest-dialog {
    max-height: 404px;
    overflow-y: auto;
    z-index: 1;
    margin-top: 16px;
    display: none;
}

.autosuggest-item {
    display: flex;
    align-items: center;
    cursor: pointer;
    height: 50px;
    padding: 2px 4px;
    font-size: 10px;
    border-radius: 4px;
    text-transform: capitalize;
    box-shadow: 0px 8px 0px -7px #F2F2F2;
}


.autosuggest-item:hover {
    background-color: #F4F4F4;
    box-shadow: none;
}


.autosuggest-item:last-child {
    box-shadow: none;
}

.autosuggest-item img {
    margin-right: 10px;
    width: 50px;
    height: 50px;
}

.modal {
    display: none;
    position: fixed;
    color: #000000;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 2;
}

.modal-content {
    background-color: #FEFEFE;
    margin: 32px auto;
    padding: 20px;
    max-width: 302px;
    border-radius: 4px;
    width: 80%;
}


button {
    background-color: #EF6262;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 12px;
    line-height: 24px;
    transition: background-color 0.3s;
    margin: 20px 0;
    display: inline-block;
    font-family: 'Press Start 2P', cursive;
}

button:hover {
    background-color: #DB5656;
}

input[type="search"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #BDBDBD;
    border-radius: 4px;
    margin-top: 8px;
    box-sizing: border-box;
    transition: border-color 0.3s;
    font-size: 14px;
    color: #333;
}

input[type="search"]:focus {
    outline: none;
    border-color: #2196F3;
}

a#linktree {
    font-size: 10px;
    text-decoration: underline;
    opacity: 0.8;
    display: block;
    color: #FFF;
    margin: 8px auto 0 auto;
    padding: 16px 24px;
    width: 170px;
}
