body {
    text-align: center;
    font-family: 'Roboto Mono', monospace;
}
/* Add some styling for the grid */
table {
    margin: 0 auto;
    border-collapse: collapse;
    background-image: url(img/tile.png);
    background-size: 49px;
}

h1 {
    margin-bottom: 0;
}
h5 {
    margin-top: 0;
}

td {
    width: 48px;
    height: 48px;
    padding: 0px;
    border: 1px solid #000;
    text-align: center;
    vertical-align: middle;
    font-size: 12px;
    font-weight: bold;
    background-size: contain;
    background-repeat: no-repeat;
}

.tableHeader {
    margin: 0 auto;
    background-color: #DFF3C9;
    width: 261px;
    padding: 0 16px;
    text-align: center;
    line-height: 40px;
    height: 40px;
    font-size: 16px;
    border: 1px solid #000;
    border-bottom: none;
}

.tableFooter {
    margin: 0 auto;
    background-color: #DFF3C9;
    width: 261px;
    padding: 0 16px;
    line-height: 40px;
    height: 40px;
    font-size: 12px;
    text-align: left;
    border: 1px solid #000;
    border-top: none;
}

#rowResult, #colResult, #dexIdResult {
    display: inline-block;
    margin-right: 8px; /* Aggiungi uno spazio tra i risultati di Row e Col */
}

#dexIdResult {
    float: right; /* Sposta dexIdResult a destra */
}
